
<ion-header  (click)="goback()" style="height: 45px; padding: 0px 0px; ">
  <h5 style="margin-top: 0px">
    &nbsp; {{title}}
    <div style="font-size: 12pt">
      <ion-icon name="arrow-dropleft"></ion-icon>
      Checklist
    </div>
  </h5>
</ion-header>

<ion-content padding >  
  
  <ion-list no-padding style=" background-color:  rgb(229, 235, 235); " [hidden]="!showIndicators" >
    
    <ion-list>
      <ion-item >
        <ion-label>Categoria</ion-label>
        <ion-select (ionChange)="loadItens()" [(ngModel)]="categorySelectedCod"  >
          <ion-option  *ngFor="let item of categories" value="{{item.codigo}}">{{item.nome}}</ion-option>          
        </ion-select>
       </ion-item>
     </ion-list>
    <br />

    <ion-grid no-padding  *ngFor="let item of itens"  text-center>
      
      <ion-row>
        <h6 padding-left text-wrap style="text-align: left; ">
          {{item.ordem}} - {{item.nome}}
        </h6>
      </ion-row>

      <ion-row radio-group style="width:100%;" >  
        <ion-col >            
          <ion-item style=" background-color: unset">
            <ion-label>Sim</ion-label>
            <ion-radio checked="{{validadeItem(item,true)}}" (click)="alterStatus(item, true)" ></ion-radio>      
          </ion-item>
        </ion-col>        
        <ion-col>
          <ion-item style="background-color:  unset" >
            <ion-label>Não</ion-label>
            <ion-radio checked={{validadeItem(item,false)}}  (click)="alterStatus(item, false)"> </ion-radio>        
          </ion-item>
          </ion-col>
          <ion-col>
              <ion-item style="background-color:  unset">                  
              </ion-item>
          </ion-col>  
          <ion-col>
            <ion-item style="background-color: unset" (click)="showTextfield(item)">
              <ion-icon name="ios-create-outline" ></ion-icon>
            </ion-item>
          </ion-col>
         
        </ion-row>
    <!--
    <h5 padding-left text-wrap style="text-align: left; ">
      1.2 Estatuto do IFPE.
    </h5>
    <ion-row radio-group style="width:100%; background-color:  rgb(0, 0, 0,0)"> 
      <ion-col >
        <ion-item style="background-color:  rgb(0, 0, 0,0)">
          <ion-label>Sim</ion-label>
          <ion-radio value="">
          </ion-radio>      
        </ion-item>
      </ion-col>
      <ion-col>
          <ion-item style="background-color:  rgb(0, 0, 0,0)">
              <ion-radio  value="0"></ion-radio>        
          <ion-label>Não</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item style="width:25px; background-color:  rgb(0, 0, 0,0)">                  
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item style="background-color:  rgb(0, 0, 0,0)">
          <ion-icon name="ios-create-outline" ></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item style="background-color:  rgb(0, 0, 0,0)">
          <img src="/assets/icon/ic_spellcheck_black_24dp.png" width=18px>       
        </ion-item>
      </ion-col>
    </ion-row>
    <h5 padding-left text-wrap style="text-align: left; ">
      1.3 Plano de desenvolvimento institucional PDI (copia).
    </h5>
      <ion-row radio-group style="width:100%;">                      
        <ion-col >
          <ion-item style="background-color:  rgb(0, 0, 0,0)">
            <ion-label>Sim</ion-label>
            <ion-radio value="go">
            </ion-radio>      
          </ion-item>
        </ion-col>
        <ion-col>
            <ion-item style="background-color:  rgb(0, 0, 0,0)">
                <ion-radio  value=""></ion-radio>        
            <ion-label>Não</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
            <ion-item style="background-color:  rgb(0, 0, 0,0)">                  
            </ion-item>
          </ion-col>
        <ion-col>
          <ion-item style="background-color:  rgb(0, 0, 0,0)">
            <ion-icon name="ios-create-outline" ></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item style="background-color:  rgb(0, 0, 0,0)">
            <ion-icon name="ios-chatbubbles-outline" ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row> 
      <!--
      <h5 padding-left text-wrap style="text-align: left; ">
        1.4 Projeto politico pedagogico institucional PPI (copia).
      </h5>
      <ion-row radio-group style="width:100%;">        
        <ion-col >
          <ion-item style="background-color:  rgb(0, 0, 0,0)">
            <ion-label>Sim</ion-label>
            <ion-radio value="go">
            </ion-radio>      
          </ion-item>
        </ion-col>
        <ion-col>
            <ion-item style="background-color:  rgb(0, 0, 0,0)">
                <ion-radio  value=""></ion-radio>        
            <ion-label>Não</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
            <ion-item style="background-color:  rgb(0, 0, 0,0)">                  
            </ion-item>
          </ion-col>
        <ion-col>
          <ion-item style="background-color:  rgb(0, 0, 0,0)">
            <ion-icon name="ios-create-outline" ></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item style="background-color:  rgb(0, 0, 0,0)">
            <ion-icon name="ios-chatbubbles-outline" ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>  
      --> 
    </ion-grid>        
  </ion-list>  
  <div style="margin-top: 40%" [hidden]="showIndicators">
    <h2>{{label}} - Observações</h2>
    <ion-item>
      <ion-textarea no-paddin style="background-color: rgba(179, 171, 171, 0.376)"
       rows="10"
        
       [(ngModel)]="observations">
      </ion-textarea>
    </ion-item>
    <button ion-button (click)="saveObservation()">
      Salvar
    </button>
    <button ion-button (click)="hideTextfield()">
      Voltar
    </button>
  </div>
</ion-content>
