<ion-content  id="home"  style="background: rgb(229, 235, 235); background-image: url('assets/imgs/Conceito04.MarcaDagua.png'); background-size: 96px; overflow-y: hidden;">
  <!-- <img  src="assets/imgs/39nUlEqUQiWFfHzasCpQ_Conceito04.png" style="background-image: assets/imgs/39nUlEqUQiWFfHzasCpQ_Conceito04.png" /> -->

  <ion-list id="home-list1" style="height: 45%;">

    <ion-item-divider  color="light" id="home-list-item-divider1" style="text-align: right" >
      <ion-icon item-start>{{qtdAvOpned}}</ion-icon>
      <h1>Avaliações Abertas</h1>
    </ion-item-divider>

    <ion-list id="OpnedList">      
      <ion-item  *ngFor="let item of _avaliacoesAbertas" style="font-size: 12px" id="home-list-item9" (click)="goToEvaluation(item)"   >
        <div><b>Curso: </b>{{genService.couseName(item)}}</div>
        <div><b>Periodo:</b> {{formatDate(item.dataInicio)}} a {{formatDate(item.dataTermino)}}  (<b>Id: </b>{{item.codigo}})</div>
        <div></div>
      </ion-item>      
    </ion-list>

  </ion-list>
 
  <!-- <div class="spacer" style="height:70px;" id="home-spacer1"></div> -->

  <ion-list id="ScheduleList"  >

    <ion-item-divider  color="light" id="home-list-item-divider3" style="text-align: right">
      <ion-icon item-start>{{qtdAvSchedule}}</ion-icon>
      <h1>Avaliações Agendadas</h1>
    </ion-item-divider>

    <ion-list id="home-list7" >
      <ion-item style="font-size: 12px"  id="home-list-item10" *ngFor="let item of _avaliacoesAgendadas" >
        <div><b>Curso: </b>{{genService.couseName(item)}}</div>
        <div><b> Periodo:</b> {{formatDate(item.dataInicio)}} a {{formatDate(item.dataTermino)}} (<b>Id: </b>{{item.codigo}})</div>
        <div></div>
      </ion-item>
    </ion-list>

  </ion-list>
  
  <ion-footer [hidden]="hasConnection" style="text-align: center; background-color: red;">
    <ion-icon name="warning"></ion-icon>
    <strong>Sem Conexão de Rede</strong>
  </ion-footer>
</ion-content>
