
<ion-header  (click)="goback()" style="height: 45px; padding: 0px 0px; " [hidden]="!showIndicators">
  <h5 style="margin-top: 0px">
    &nbsp; {{title}}
    <div style="font-size: 12pt">
      <ion-icon name="arrow-dropleft"></ion-icon>
      Checklist
    </div>
  </h5>
</ion-header>

<ion-content padding  >  
  
  <ion-list no-padding style=" background-color:  rgb(229, 235, 235); " [hidden]="!showIndicators" >
    
    <ion-list>
      <ion-item >
        <ion-label>Categoria</ion-label>
        <ion-select (ionChange)="loadItens()" [(ngModel)]="categorySelectedCod"  >
          <ion-option  *ngFor="let item of categories" value="{{item.codigo}}">{{item.nome}}</ion-option>          
        </ion-select>
       </ion-item>
     </ion-list>
    <br />

    <ion-grid no-padding  *ngFor="let item of itens"  text-center>
      
      <ion-row>
        <h6 padding-left text-wrap style="text-align: left; ">
          {{item.ordem}} - {{item.nome}}
        </h6>
      </ion-row>

      <ion-row radio-group style="width:100%;" >  
        <ion-col >            
          <ion-item style=" background-color: unset">
            <ion-label>Sim</ion-label>
            <ion-radio checked="{{validadeItem(item,true)}}" (click)="alterStatus(item, true)" ></ion-radio>      
          </ion-item>
        </ion-col>        
        <ion-col>
          <ion-item style="background-color:  unset" >
            <ion-label>Não</ion-label>
            <ion-radio checked={{validadeItem(item,false)}}  (click)="alterStatus(item, false)"> </ion-radio>        
          </ion-item>
        </ion-col>
        <ion-col>
            <ion-item style="background-color:  unset">                  
            </ion-item>
        </ion-col>  
        <ion-col>
          <ion-item style="background-color: unset" (click)="showTextfield(item)">
            <ion-icon name="ios-create-outline" ></ion-icon>
          </ion-item>
        </ion-col>
        
      </ion-row>   
    </ion-grid>        
  </ion-list>  
  <div  [hidden]="showIndicators">
    <br />
    <h2>{{label}} - Observações</h2>
    <ion-item>
      <ion-textarea style="border: 2px solid;" rows="17"
        
       [(ngModel)]="observations">
      </ion-textarea>
    </ion-item>
    <button ion-button (click)="saveObservation()">
      Salvar
    </button>
    <button ion-button (click)="hideTextfield()">
      Voltar
    </button>
  </div>

  <ion-footer [hidden]="!((evaluation != null && evaluation.dataEntrega != null))">
    <div color="danger" align="center">
      Avaliação encerrada. <br />Os dados não podem ser alterados.
    </div>
  </ion-footer>
</ion-content>
